<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.BinDao">
    <!-- =========================================================== -->
    <!-- 定义resultMap                 Created by zzr on 2019/06/10                                                                                                                                                            -->
    <!-- =========================================================== -->
    <resultMap id="BinMap" type="com.bean.Bin">
        <id property="binID" column="Bin_ID" jdbcType="INTEGER"/>
        <result property="binNo" column="Bin_No" jdbcType="VARCHAR"/>
        <result property="binStatus" column="Bin_Status" jdbcType="VARCHAR"/>
        <result property="binUseFlag" column="Bin_UseFlag" jdbcType="INTEGER"/>
        <result property="binType" column="Bin_Type" jdbcType="VARCHAR"/>
        <result property="barCode" column="Bar_Code" jdbcType="VARCHAR"/>
        <result property="materialCode" column="Material_Code" jdbcType="VARCHAR"/>
        <result property="materialName" column="Material_Name" jdbcType="VARCHAR"/>
        <result property="materialTypeCode" column="Material_TypeCode" jdbcType="VARCHAR"/>
        <result property="materialTypeName" column="Material_TypeName" jdbcType="VARCHAR"/>
        <result property="materialSpec" column="Material_Spec" jdbcType="VARCHAR"/>
        <result property="batchNo" column="Batch_No" jdbcType="VARCHAR"/>
        <result property="productDate" column="Product_Date" jdbcType="TIMESTAMP"/>
        <result property="inDate" column="In_Date" jdbcType="TIMESTAMP"/>
        <result property="planNo" column="Plan_No" jdbcType="VARCHAR"/>
        <result property="materialWeight" column="Material_Weight" jdbcType="NUMERIC"/>
        <result property="creationDate" column="Creation_Date" jdbcType="TIMESTAMP"/>
        <result property="createdBy" column="Created_By" jdbcType="INTEGER"/>
        <result property="lastUpdateDate" column="Last_Update_Date" jdbcType="TIMESTAMP"/>
        <result property="lastUpdatedBy" column="Last_Updated_By" jdbcType="INTEGER"/>
        <result property="bacteriaCoun" column="Bacteria_Coun" jdbcType="VARCHAR"/>
        <result property="qty" column="Qty" jdbcType="NUMERIC"/>
        <result property="inType" column="In_Type" jdbcType="VARCHAR"/>
        <result property="materialType" column="Material_Type" jdbcType="VARCHAR"/>
        <result property="binSize" column="Bin_Size" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- =========================================================== -->
    <!-- 一些公共变量设置                                                                                                                                                                             -->
    <!-- =========================================================== -->
    <!-- 字段 -->
    <sql id="Base_Column_List">
       Bin_ID
      ,Bin_No
      ,Bin_Status
      ,Bin_UseFlag
      ,Bin_Type
      ,Bar_Code
      ,Material_Code
      ,Material_Name
      ,Material_TypeCode
      ,Material_TypeName
      ,Material_Spec
      ,Batch_No
      ,Product_Date
      ,In_Date
      ,Plan_No
      ,Material_Weight
      ,Creation_Date
      ,Created_By
      ,Last_Update_Date
      ,Last_Updated_By
      ,Bacteria_Coun
      ,Qty
      ,In_Type
      ,Material_Type
      ,Bin_Size
    </sql>
    <!-- =========================================================== -->
    <!-- 基本增删改查方法                                                                                                    		 -->
    <!-- =========================================================== -->
    <select id="selectAll" resultMap="BinMap">
        select
        <include refid="Base_Column_List"/>
        from IMOS_LO_Bin
    </select>
    <update id="updateNull" parameterType="com.bean.Bin">
        update IMOS_LO_Bin
        set
       Bin_Status = '0'
       ,Bar_Code = null
       ,Material_Code = null
       ,Material_Name = null
       ,Material_TypeCode = null
       ,Material_TypeName = null
       ,Material_Spec = null
       ,Batch_No = null
       ,Product_Date = null
       ,In_Date = null
       ,Qty  = null
       ,In_Type  = null
       ,Last_Update_Date = GETDATE()
       ,Bin_UseFlag  = 0
        where Bin_Status = '4' and Bar_Code = #{barCode} and In_Type = '1'
    </update>
</mapper>