<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.CompanyDao">
    <!-- =========================================================== -->
    <!-- 定义resultMap        Created by zzr on 2019/06/10                                                                                                                                              -->
    <!-- =========================================================== -->
    <resultMap id="CompanyMap" type="com.bean.Company">
        <id property="companyCode" column="Company_Code" jdbcType="VARCHAR"/>
        <result property="companyName" column="Company_Name" jdbcType="VARCHAR"/>
		<result property="companyAddress" column="Company_Address" jdbcType="VARCHAR"/>
		<result property="companyLinkMan" column="Company_LinkMan" jdbcType="VARCHAR"/>
		<result property="companyPhone" column="Company_Phone" jdbcType="VARCHAR"/>
		<result property="property1" column="Property1" jdbcType="VARCHAR"/>
		<result property="property2" column="Property2" jdbcType="VARCHAR"/>
		<result property="remark" column="Remark" jdbcType="VARCHAR"/>
		<result property="useFlag" column="Use_Flag" jdbcType="VARCHAR"/>
		<result property="deleteFlag" column="Delete_Flag" jdbcType="VARCHAR"/>
		<result property="creationDate" column="Creation_Date" jdbcType="TIMESTAMP"/>
		<result property="createdBy" column="Created_By" jdbcType="VARCHAR"/>
		<result property="lastUpdateDate" column="Last_Update_Date" jdbcType="TIMESTAMP"/>
		<result property="lastUpdatedBy" column="Last_Updated_By" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- =========================================================== -->
    <!-- 一些公共变量设置                                                                                                                                                                             -->
    <!-- =========================================================== -->
    <!-- 字段 -->
    <sql id="Base_Column_List">
	  Company_Code,
      Company_Name,
      Company_Address,
      Company_LinkMan,
      Company_Phone,
      Property1,
      Property2,
      Remark,
      Use_Flag,
      Delete_Flag,
      Creation_Date,
      Created_By,
      Last_Update_Date,
      Last_Updated_By
	</sql>
    <!-- =========================================================== -->
    <!-- 基本增删改查方法                                                                                                    		 -->
    <!-- =========================================================== -->
    <insert id="insert" parameterType="com.bean.Company">
        insert into IMOS_TA_Company
        <trim prefix="(" suffix=")" suffixOverrides=",">
            Company_Code,
            Company_Name,
            Company_Address,
            Company_LinkMan,
            Company_Phone,
            Property1,
            Property2,
            Remark,
            Use_Flag,
            Delete_Flag,
            Creation_Date,
            Created_By,
            Last_Update_Date,
            Last_Updated_By
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{Company_Code, jdbcType=VARCHAR},
            #{Company_Name, jdbcType=VARCHAR}
        </trim>
    </insert>
    <delete id="delete" parameterType="java.lang.String">
		update IMOS_TA_Company
		set deleteFlag = 1, updateTime = GETDATE()
		where Company_Code = #{companyCode}
	</delete>
    <delete id="deleteAll">
        update IMOS_TA_Company
        set deleteFlag = 1, updateTime = GETDATE()
        where Company_Code in
        <foreach collection="idList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <update id="update" parameterType="com.bean.Company">
		update IMOS_TA_Company
		set
		Company_Code = #{companyCode, jdbcType=VARCHAR}
        ,Company_Name = #{companyName, jdbcType=VARCHAR}
        ,Company_Address = #{companyAddress, jdbcType=VARCHAR}
        ,Company_LinkMan = #{companyLinkMan, jdbcType=VARCHAR}
        ,Company_Phone = #{companyPhone, jdbcType=VARCHAR}
        ,Property1 = #{property1, jdbcType=VARCHAR}
        ,Property2 = #{property2, jdbcType=VARCHAR}
        ,Remark = #{remark, jdbcType=VARCHAR}
        ,Use_Flag = #{useFlag, jdbcType=VARCHAR}
        ,Delete_Flag = #{deleteFlag, jdbcType=VARCHAR}
		,Creation_Date = #{creationDate, jdbcType=TIMESTAMP}
		,Created_By = #{createdBy, jdbcType=VARCHAR}
		,Last_Update_Date = #{lastUpdateDate, jdbcType=TIMESTAMP}
		,Last_Updated_By = #{lastUpdatedBy, jdbcType=VARCHAR}
		where Company_Code = #{companyCode}
	</update>
    <select id="selectByPrimaryKey" resultMap="CompanyMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from IMOS_TA_Company
        where Company_Code = #{companyCode}
    </select>
    <select id="selectAll" resultMap="CompanyMap">
        select
        <include refid="Base_Column_List"/>
        from IMOS_TA_Company
        where Use_Flag = 1 and Delete_Flag != 1
    </select>
    <select id="selectBySelectiveCount" resultType="java.lang.Long" parameterType="com.bean.Company">
        select
        count(Company_Code) c
        from IMOS_TA_Company
        <where>
            <if test="companyName!= null and companyName != '' ">
                and Company_Name = #{companyName, jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="selectBySelective" resultMap="CompanyMap" parameterType="com.bean.Company">
        select
        <include refid="Base_Column_List"/>
        from IMOS_TA_Company
        <where>
            <if test="companyCode != null and companyCode != '' ">
                and Company_Code = #{companyCode, jdbcType=VARCHAR}
            </if>

            <if test="companyName!= null and companyName != '' ">
                and Company_Name = #{companyName, jdbcType=VARCHAR}
            </if>

        </where>
    </select>
</mapper>