<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.CylinderDao">
    <!-- =========================================================== -->
    <!-- 定义resultMap        Created by zzr on 2019/06/10                                                                                                                                              -->
    <!-- =========================================================== -->
    <resultMap id="CylinderMap" type="com.bean.Cylinder">
        <id property="cylinderIDNum" column="Cylinder_IDNum" jdbcType="VARCHAR"/>
        <result property="cylinderNumber" column="Cylinder_Number" jdbcType="VARCHAR"/>
        <result property="cylinderCode" column="Cylinder_Code" jdbcType="VARCHAR"/>
        <result property="cylinderQRCode" column="Cylinder_QRCode" jdbcType="VARCHAR"/>
        <result property="companyName" column="Company_Name" jdbcType="VARCHAR"/>
        <result property="cylinderSpec" column="Cylinder_Spec" jdbcType="VARCHAR"/>
        <result property="cylinderPressure" column="Cylinder_Pressure" jdbcType="VARCHAR"/>
        <result property="cylinderVolume" column="Cylinder_Volume" jdbcType="VARCHAR"/>
        <result property="cylinderMakeDate" column="Cylinder_MakeDate" jdbcType="VARCHAR"/>
        <result property="cylinderType" column="Cylinder_Type" jdbcType="VARCHAR"/>
        <result property="cylinderMedia" column="Cylinder_Media" jdbcType="VARCHAR"/>
        <result property="cylinderStatus" column="Cylinder_Status" jdbcType="VARCHAR"/>
        <result property="cylinderScrapDate" column="Cylinder_ScrapDate" jdbcType="VARCHAR"/>
        <result property="cylinderLastInspectDate" column="Cylinder_Last_InspectDate" jdbcType="VARCHAR"/>
        <result property="cylinderNextInspectDate" column="Cylinder_Next_InspectDate" jdbcType="VARCHAR"/>
        <result property="cylinderClinet" column="Cylinder_Clinet" jdbcType="VARCHAR"/>
        <result property="property1" column="Property1" jdbcType="VARCHAR"/>
        <result property="property2" column="Property2" jdbcType="VARCHAR"/>
        <result property="remark" column="Remark" jdbcType="VARCHAR"/>
        <result property="useFlag" column="Use_Flag" jdbcType="VARCHAR"/>
        <result property="deleteFlag" column="Delete_Flag" jdbcType="VARCHAR"/>
        <result property="creationDate" column="Creation_Date" jdbcType="TIMESTAMP"/>
        <result property="createdBy" column="Created_By" jdbcType="VARCHAR"/>
        <result property="lastUpdateDate" column="Last_Update_Date" jdbcType="TIMESTAMP"/>
        <result property="lastUpdatedBy" column="Last_Updated_By" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- =========================================================== -->
    <!-- 一些公共变量设置                                                                                                                                                                             -->
    <!-- =========================================================== -->
    <!-- 字段 -->
    <sql id="Base_Column_List">
	  Cylinder_IDNum,
      Cylinder_Number,
      Cylinder_Code,
      Cylinder_QRCode,
      Company_Name,
      Cylinder_Spec,
      Cylinder_Pressure,
      Cylinder_Volume,
      Cylinder_MakeDate,
      Cylinder_Type,
      Cylinder_Media,
      Cylinder_Status,
      Cylinder_ScrapDate,
      Cylinder_Last_InspectDate,
      Cylinder_Next_InspectDate,
      Cylinder_Clinet,
      Property1,
      Property2,
      Remark,
      Use_Flag,
      Delete_Flag,
      Creation_Date,
      Created_By,
      Last_Update_Date,
      Last_Updated_By
	</sql>
    <!-- =========================================================== -->
    <!-- 基本增删改查方法                                                                                                    		 -->
    <!-- =========================================================== -->
    <insert id="insert" parameterType="com.bean.Cylinder">
        insert into IMOS_TA_Cylinder
        <trim prefix="(" suffix=")" suffixOverrides=",">
            Cylinder_IDNum,
            Cylinder_Number,
            Cylinder_Code,
            Cylinder_QRCode,
            Company_Name,
            Cylinder_Spec,
            Cylinder_Pressure,
            Cylinder_Volume,
            Cylinder_MakeDate,
            Cylinder_Type,
            Cylinder_Media,
            Cylinder_Status,
            Cylinder_ScrapDate,
            Cylinder_Last_InspectDate,
            Cylinder_Next_InspectDate,
            Cylinder_Clinet,
            Property1,
            Property2,
            Remark,
            Use_Flag,
            Delete_Flag,
            Creation_Date,
            Created_By,
            Last_Update_Date,
            Last_Updated_By
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{CylinderIDNum, jdbcType=VARCHAR},
            #{cylinderNumber, jdbcType=VARCHAR}
        </trim>
    </insert>
    <delete id="delete" parameterType="java.lang.String">
		update IMOS_TA_Cylinder
		set deleteFlag = 1, updateTime = GETDATE()
		where Cylinder_IDNum = #{CylinderIDNum}
	</delete>
    <delete id="deleteAll">
        update IMOS_TA_Cylinder
        set deleteFlag = 1, updateTime = GETDATE()
        where Cylinder_IDNum in
        <foreach collection="idList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <update id="update" parameterType="com.bean.Cylinder">
		update IMOS_TA_Cylinder
		set
		Cylinder_IDNum = #{cylinderIDNum, jdbcType=VARCHAR}
        ,Cylinder_Number = #{cylinderNumber, jdbcType=VARCHAR}
        ,Cylinder_Code = #{cylinderCode, jdbcType=VARCHAR}
        ,Cylinder_QRCode = #{cylinderQRCode, jdbcType=VARCHAR}
        ,Company_Name = #{companyName, jdbcType=VARCHAR}
        ,Cylinder_Spec = #{cylinderSpec, jdbcType=VARCHAR}
        ,Cylinder_Pressure = #{cylinderPressure, jdbcType=VARCHAR}
        ,Cylinder_Volume = #{cylinderVolume, jdbcType=VARCHAR}
        ,Cylinder_MakeDate = #{cylinderMakeDate, jdbcType=VARCHAR}
        ,Cylinder_Type = #{cylinderType, jdbcType=VARCHAR}
        ,Cylinder_Media = #{cylinderMedia, jdbcType=VARCHAR}
        ,Cylinder_Status = #{cylinderStatus, jdbcType=VARCHAR}
        ,Cylinder_ScrapDate = #{cylinderScrapDate, jdbcType=VARCHAR}
        ,Cylinder_Last_InspectDate = #{cylinderLastInspectDate, jdbcType=VARCHAR}
        ,Cylinder_Next_InspectDate = #{cylinderNextInspectDate, jdbcType=VARCHAR}
        ,Cylinder_Clinet = #{cylinderClinet, jdbcType=VARCHAR}
        ,Property1 = #{property1, jdbcType=VARCHAR}
        ,Property2 = #{property2, jdbcType=VARCHAR}
		,Remark = #{remark, jdbcType=VARCHAR}
		,Creation_Date = #{creationDate, jdbcType=TIMESTAMP}
		,Created_By = #{createdBy, jdbcType=INTEGER}
		,Last_Update_Date = #{lastUpdateDate, jdbcType=TIMESTAMP}
		,Last_Updated_By = #{lastUpdatedBy, jdbcType=INTEGER}
		where Cylinder_IDNum = #{CylinderIDNum}
	</update>
    <select id="selectByPrimaryKey" resultMap="CylinderMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from IMOS_TA_Cylinder
        where Cylinder_IDNum = #{CylinderIDNum}
    </select>
    <select id="selectAll" resultMap="CylinderMap">
        select
        <include refid="Base_Column_List"/>
        from IMOS_TA_Cylinder
        where Use_Flag = 1 and Delete_Flag != 1
    </select>
    <select id="selectBySelectiveCount" resultType="java.lang.Long" parameterType="com.bean.Cylinder">
        select
        count(Cylinder_IDNum) c
        from IMOS_TA_Cylinder
        <where>
            <if test="cylinderNumber!= null and cylinderNumber != '' ">
                and Cylinder_Number = #{cylinderNumber, jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="selectBySelective" resultMap="CylinderMap" parameterType="com.bean.Cylinder">
        select
        <include refid="Base_Column_List"/>
        from IMOS_TA_Cylinder
        <where>
            <if test="CylinderIDNum != null and CylinderIDNum != '' ">
                and Cylinder_IDNum = #{CylinderIDNum, jdbcType=VARCHAR}
            </if>

            <if test="cylinderNumber!= null and cylinderNumber != '' ">
                and Cylinder_Number = #{cylinderNumber, jdbcType=VARCHAR}
            </if>

        </where>
    </select>
    <select id="selectByKey" resultMap="CylinderMap" parameterType="com.bean.Cylinder">
        select
        <include refid="Base_Column_List"/>
        from IMOS_TA_Cylinder
        <where>
            <if test="cylinderQRCode != null and cylinderQRCode != '' ">
                and Cylinder_QRCode = #{cylinderQRCode, jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>