<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserDao">
    <!-- =========================================================== -->
    <!-- 定义resultMap        Created by zzr on 2019/06/10                                                                                                                                              -->
    <!-- =========================================================== -->
    <resultMap id="UserMap" type="com.bean.User">
        <result property="Name" column="Name" jdbcType="VARCHAR"/>
        <result property="DesName" column="DesName" jdbcType="VARCHAR"/>
        <result property="EmployeeNumber" column="EmployeeNumber" jdbcType="VARCHAR"/>
        <result property="Email" column="Email" jdbcType="VARCHAR"/>
        <result property="Mobile" column="Mobile" jdbcType="VARCHAR"/>
        <result property="ParentID" column="ParentID" jdbcType="VARCHAR"/>
        <result property="Code" column="Code" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- =========================================================== -->
    <!-- 基本增删改查方法                                                                                                    		 -->
    <!-- =========================================================== -->
    <select id="selectUser" resultMap="UserMap">
        select
        a.Name as Name,
        replace(b.DesName,'/','-') as DesName,
        a.ParentID as ParentID,
        b.Code as Code,
        a.EmployeeNumber as EmployeeNumber,
        a.Email as Email,
        a.Mobile as Mobile
        from OT_User as a
        inner join OT_OrganizationUnit as b on a.ParentID = b.ObjectID
        where a.State = 0
        and b.DesName not like '%虚拟%'
        and b.DesName not like '%项目组织%'
        and b.DesName not like '%业务流程处理第三方公司%'
        and b.DesName not like '%流程组织%'
        and b.DesName not like '%管理员%'
        and a.EmployeeNumber != 'NULL'
        and a.EmployeeNumber != ''
        and a.Mobile != 'NULL'
        and a.Mobile != ''
        order by b.Code
    </select>
    <select id="selectRKGMLUser" resultMap="UserMap">
        select
        a.Name as 员工姓名,
        replace(b.DesName,'/','-') as 部门,
        b.Code as 部门Code,
        a.ParentID as 部门ID,
        a.EmployeeNumber as 工号,
        a.Email as 邮箱,
        a.Mobile as 手机号
        from OT_User as a
        inner join OT_OrganizationUnit as b on a.ParentID = b.ObjectID
        where a.State = 0
        and b.DesName not like '%虚拟%'
        and b.DesName not like '%项目组织%'
        and b.DesName not like '%业务流程处理第三方公司%'
        and b.DesName not like '%流程组织%'
        and b.DesName not like '%管理员%'
        and a.EmployeeNumber != 'NULL'
        and a.EmployeeNumber != ''
        and a.Mobile != 'NULL'
        and a.Mobile != ''
        and a.ParentID = '18f923a7-5a5e-426d-94ae-a55ad1a4b240'
        order by b.Code
    </select>
    <select id="selectUserByDepartName" resultMap="UserMap" parameterType="java.lang.String">
        select
        a.Name as Name,
        b.DesName as DesName,
        a.ParentID as ParentID,
        b.Code as Code,
        a.EmployeeNumber as EmployeeNumber,
        a.Email as Email,
        a.Mobile as Mobile
        from OT_User as a
        inner join OT_OrganizationUnit as b on a.ParentID = b.ObjectID
        where a.State = 0
        and b.DesName not like '%虚拟%'
        and b.DesName not like '%项目组织%'
        and b.DesName not like '%业务流程处理第三方公司%'
        and b.DesName not like '%流程组织%'
        and b.DesName not like '%管理员%'
        and a.EmployeeNumber != 'NULL'
        and a.EmployeeNumber != ''
        and a.Mobile != 'NULL'
        and a.Mobile != ''
        and b.DesName = #{name}
        order by b.Code
    </select>
    <select id="selectUserByUserName" resultMap="UserMap" parameterType="java.lang.String">
        select
        a.Name as Name,
        b.DesName as DesName,
        a.ParentID as ParentID,
        b.Code as Code,
        a.EmployeeNumber as EmployeeNumber,
        a.Email as Email,
        a.Mobile as Mobile
        from OT_User as a
        inner join OT_OrganizationUnit as b on a.ParentID = b.ObjectID
        where a.State = 0
        and b.DesName not like '%虚拟%'
        and b.DesName not like '%项目组织%'
        and b.DesName not like '%业务流程处理第三方公司%'
        and b.DesName not like '%流程组织%'
        and b.DesName not like '%管理员%'
        and a.EmployeeNumber != 'NULL'
        and a.EmployeeNumber != ''
        and a.Mobile != 'NULL'
        and a.Mobile != ''
        and a.Name = #{name}
        order by b.Code
    </select>
</mapper>