<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.盘点计划表Dao">
    <!-- =========================================================== -->
    <!-- 定义resultMap              Created by zzr on 2019/06/10                                                                                                                                                               -->
    <!-- =========================================================== -->
    <resultMap id="盘点计划表Map" type="com.bean.盘点计划表">
        <id property="计划编号" column="CheckPlan_Code" jdbcType="VARCHAR"/>
        <result property="盘点名称" column="CheckPlan_Name" jdbcType="VARCHAR"/>
        <result property="盘点方式" column="CheckPlan_Way" jdbcType="VARCHAR"/>
        <result property="盘点项目" column="CheckPlan_Project" jdbcType="VARCHAR"/>
        <result property="盘点人编号" column="CheckPlan_OperatorCode" jdbcType="VARCHAR"/>
        <result property="盘点人名称" column="CheckPlan_OperatorName" jdbcType="VARCHAR"/>
        <result property="盘点开始时间" column="CheckPlan_StartDate" jdbcType="TIMESTAMP"/>
        <result property="盘点结束时间" column="CheckPlan_EndDate" jdbcType="TIMESTAMP"/>
        <result property="完成程度" column="CheckPlan_Result" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- =========================================================== -->
    <!-- 一些公共变量设置                                                                                                                                                                             -->
    <!-- =========================================================== -->
    <!-- 字段 -->
    <sql id="Base_Column_List" >
        CheckPlan_Code
        ,CheckPlan_Name
        ,CheckPlan_Way
        ,CheckPlan_Project
        ,CheckPlan_OperatorCode
        ,CheckPlan_OperatorName
        ,CheckPlan_StartDate
        ,CheckPlan_EndDate
        ,CheckPlan_Result
    </sql>
    <!-- =========================================================== -->
    <!-- 基本增删改查方法                                                                                                    		 -->
    <!-- =========================================================== -->
    <insert id="insert" parameterType="com.bean.盘点计划表" >
        insert into IMOS_PD_CheckPlan
        <trim prefix="(" suffix=")" suffixOverrides="," >
            CheckPlan_Code,
            CheckPlan_Name,
            CheckPlan_Way,
            CheckPlan_Project,
            CheckPlan_OperatorCode,
            CheckPlan_OperatorName,
            CheckPlan_StartDate,
            CheckPlan_EndDate,
            CheckPlan_Result,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            #{计划编号, jdbcType=VARCHAR},
            #{盘点名称, jdbcType=VARCHAR},
            #{盘点方式, jdbcType=VARCHAR},
            #{盘点项目, jdbcType=VARCHAR},
            #{盘点人编号, jdbcType=VARCHAR},
            #{盘点人名称, jdbcType=VARCHAR},
            #{盘点开始时间, jdbcType=TIMESTAMP},
            #{盘点结束时间, jdbcType=TIMESTAMP},
            #{完成程度, jdbcType=VARCHAR},
        </trim>
    </insert>
    <insert id="insertSelective" parameterType="com.bean.盘点计划表" >
        insert into IMOS_PD_CheckPlan
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="计划编号 != null">
                CheckPlan_Code,
            </if>
            <if test="盘点名称 != null">
                CheckPlan_Name,
            </if>
            <if test="盘点方式 != null">
                CheckPlan_Way,
            </if>
            <if test="盘点项目 != null">
                CheckPlan_Project,
            </if>
            <if test="盘点人编号 != null">
                CheckPlan_OperatorCode,
            </if>
            <if test="盘点人名称 != null">
                CheckPlan_OperatorName,
            </if>
            <if test="盘点开始时间 != null">
                CheckPlan_StartDate,
            </if>
            <if test="盘点结束时间 != null">
                CheckPlan_EndDate,
            </if>
            <if test="完成程度 != null">
                CheckPlan_Result,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="计划编号 != null">
                #{计划编号, jdbcType=VARCHAR},
            </if>
            <if test="盘点名称 != null">
                #{盘点名称, jdbcType=VARCHAR},
            </if>
            <if test="盘点方式 != null">
                #{盘点方式, jdbcType=VARCHAR},
            </if>
            <if test="盘点项目 != null">
                #{盘点项目, jdbcType=VARCHAR},
            </if>
            <if test="盘点人编号 != null">
                #{盘点人编号, jdbcType=VARCHAR},
            </if>
            <if test="盘点人名称 != null">
                #{盘点人名称, jdbcType=VARCHAR},
            </if>
            <if test="盘点开始时间 != null">
                #{盘点开始时间, jdbcType=TIMESTAMP},
            </if>
            <if test="盘点结束时间 != null">
                #{盘点结束时间, jdbcType=TIMESTAMP},
            </if>
            <if test="完成程度 != null">
                #{完成程度, jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <delete id="delete" parameterType="java.lang.String">
        update IMOS_PD_CheckPlan
        set deleteFlag = 1, updateTime = GETDATE()
        where CheckPlan_Code = #{计划编号}
    </delete>
    <delete id="deleteAll">
        update IMOS_PD_CheckPlan
        set deleteFlag = 1, updateTime = GETDATE()
        where CheckPlan_Code  in
        <foreach collection="idList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <update id="update" parameterType="com.bean.盘点计划表">
        update IMOS_PD_CheckPlan
        set
        CheckPlan_Code = #{计划编号, jdbcType=VARCHAR}
        ,CheckPlan_Name = #{盘点名称, jdbcType=VARCHAR}
        ,CheckPlan_Way = #{盘点方式, jdbcType=VARCHAR}
        ,CheckPlan_Project = #{盘点项目, jdbcType=VARCHAR}
        ,CheckPlan_OperatorCode = #{盘点人编号, jdbcType=VARCHAR}
        ,CheckPlan_OperatorName = #{盘点人名称, jdbcType=VARCHAR}
        ,CheckPlan_StartDate = #{盘点开始时间, jdbcType=TIMESTAMP}
        ,CheckPlan_EndDate = #{盘点结束时间, jdbcType=TIMESTAMP}
        ,CheckPlan_Result = #{完成程度, jdbcType=VARCHAR}
        where CheckPlan_Code = #{计划编号}
    </update>
    <update id="updateSelective" parameterType="com.bean.盘点计划表">
        update IMOS_PD_CheckPlan
        <set>
            <if test="计划编号!= null">
                CheckPlan_Code = #{计划编号, jdbcType=VARCHAR},
            </if>
            <if test="盘点名称!= null">
                CheckPlan_Name = #{盘点名称, jdbcType=VARCHAR},
            </if>
            <if test="盘点方式!= null">
                CheckPlan_Way = #{盘点方式, jdbcType=VARCHAR},
            </if>
            <if test="盘点项目!= null">
                CheckPlan_Project = #{盘点项目, jdbcType=VARCHAR},
            </if>
            <if test="盘点人编号!= null">
                CheckPlan_OperatorCode = #{盘点人编号, jdbcType=VARCHAR},
            </if>
            <if test="盘点人名称!= null">
                CheckPlan_OperatorName = #{盘点人名称, jdbcType=VARCHAR},
            </if>
            <if test="盘点开始时间!= null">
                CheckPlan_StartDate = #{盘点开始时间, jdbcType=TIMESTAMP},
            </if>
            <if test="盘点结束时间!= null">
                CheckPlan_EndDate = #{盘点结束时间, jdbcType=TIMESTAMP},
            </if>
            <if test="完成程度!= null">
                CheckPlan_Result = #{完成程度, jdbcType=VARCHAR},
            </if>
        </set>
        where CheckPlan_Code = #{计划编号}
    </update>
    <select id="selectByPrimaryKey" resultMap="盘点计划表Map" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from IMOS_PD_CheckPlan
        where CheckPlan_Code = #{计划编号}
    </select>
    <select id="selectAll" resultMap="盘点计划表Map" >
        select
        <include refid="Base_Column_List" />
        from  IMOS_PD_CheckPlan
    </select>
    <select id="selectBySelectiveCount" resultType="java.lang.Long" parameterType="com.bean.盘点计划表">
        select
        count(CheckPlan_Code) c
        from IMOS_PD_CheckPlan
        <where>
            <if test="盘点名称 != null and 盘点名称 != '' ">
                and CheckPlan_Name = #{盘点名称, jdbcType=VARCHAR}
            </if>
            <if test="盘点方式!= null and 盘点方式 != '' ">
                and CheckPlan_Way = #{盘点方式, jdbcType=VARCHAR}
            </if>

            <if test="盘点项目 != null and 盘点项目 != '' ">
                and CheckPlan_Project = #{盘点项目, jdbcType=VARCHAR}
            </if>

            <if test="盘点人编号 != null and 盘点人编号 != '' ">
                and CheckPlan_OperatorCode = #{盘点人编号, jdbcType=VARCHAR}
            </if>

            <if test="盘点人名称 != null and 盘点人名称 != '' ">
                and CheckPlan_OperatorName = #{盘点人名称, jdbcType=VARCHAR}
            </if>

            <if test="盘点开始时间 != null and 盘点开始时间 != '' ">
                and CheckPlan_StartDate = #{盘点开始时间, jdbcType=TIMESTAMP}
            </if>

            <if test="盘点结束时间 != null and 盘点结束时间 != '' ">
                and CheckPlan_EndDate = #{盘点结束时间, jdbcType=TIMESTAMP}
            </if>

            <if test="完成程度!= null and 完成程度 != '' ">
                and CheckPlan_Result = #{完成程度, jdbcType=VARCHAR}
            </if>

        </where>
    </select>
    <select id="selectBySelective" resultMap="盘点计划表Map" parameterType="com.bean.盘点计划表">
        select
        <include refid="Base_Column_List" />
        from IMOS_PD_CheckPlan
        <where>
            <if test="计划编号 != null and 计划编号 != '' ">
                and CheckPlan_Code = #{计划编号, jdbcType=VARCHAR}
            </if>
            <if test="盘点名称 != null and 盘点名称 != '' ">
                and CheckPlan_Name = #{盘点名称, jdbcType=VARCHAR}
            </if>
            <if test="盘点方式!= null and 盘点方式 != '' ">
                and CheckPlan_Way = #{盘点方式, jdbcType=VARCHAR}
            </if>
            <if test="盘点项目 != null and 盘点项目 != '' ">
                and CheckPlan_Project = #{盘点项目, jdbcType=VARCHAR}
            </if>
            <if test="盘点人编号 != null and 盘点人编号 != '' ">
                and CheckPlan_OperatorCode = #{盘点人编号, jdbcType=VARCHAR}
            </if>
            <if test="盘点人名称 != null and 盘点人名称 != '' ">
                and CheckPlan_OperatorName = #{盘点人名称, jdbcType=VARCHAR}
            </if>
            <if test="盘点开始时间 != null and 盘点开始时间 != '' ">
                and CheckPlan_StartDate = #{盘点开始时间, jdbcType=TIMESTAMP}
            </if>
            <if test="盘点结束时间 != null and 盘点结束时间 != '' ">
                and CheckPlan_EndDate = #{盘点结束时间, jdbcType=TIMESTAMP}
            </if>
            <if test="完成程度!= null and 完成程度 != '' ">
                and CheckPlan_Result = #{完成程度, jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="selectByList" resultMap="盘点计划表Map" parameterType="com.bean.盘点计划表">
        select
        <include refid="Base_Column_List" />
        from IMOS_PD_CheckPlan
        <where>
            CheckPlan_Code = #{计划编号}
            OR CheckPlan_Name = #{盘点名称}
            OR CheckPlan_Way = #{盘点方式}
            OR CheckPlan_Project = #{盘点项目}
            OR CheckPlan_OperatorCode = #{盘点人编号}
            OR CheckPlan_OperatorName = #{盘点人名称}
            OR CheckPlan_StartDate = #{盘点开始时间}
            OR CheckPlan_EndDate = #{盘点结束时间}
            OR CheckPlan_Result = #{完成程度}
        </where>
    </select>
    <select id="searchAll" resultMap="盘点计划表Map" >
        select
        <include refid="Base_Column_List" />
        from  IMOS_PD_CheckPlan
        WHERE CheckPlan_Result = '未执行'
    </select>
    <select id="search计划编号" resultMap="盘点计划表Map" parameterType="com.bean.盘点计划表">
        select
        <include refid="Base_Column_List" />
        from IMOS_PD_CheckPlan
        where CheckPlan_Code like #{计划编号} and CheckPlan_Result = '未执行'
    </select>
    <update id="修改完成程度" parameterType="com.bean.盘点计划表">
        update IMOS_PD_CheckPlan
        set
        CheckPlan_Result = '执行中'
        ,CheckPlan_StartDate = getdate()
        where CheckPlan_Code = #{计划编号} and CheckPlan_Result = '未执行'
    </update>
    <update id="已完成" parameterType="com.bean.盘点计划表">
        update IMOS_PD_CheckPlan
        set
        CheckPlan_Result = '已完成'
        ,CheckPlan_EndDate = getdate()
        where CheckPlan_Result = '执行中'
    </update>
</mapper>