<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.盘点差异表Dao">
    <!-- =========================================================== -->
    <!-- 定义resultMap                 Created by zzr on 2019/06/10                                                                                                                                                            -->
    <!-- =========================================================== -->
    <resultMap id="盘点差异表Map" type="com.bean.盘点差异表">
        <id property="计划编号" column="CheckPlan_Code" jdbcType="VARCHAR"/>
        <result property="物料编号" column="Material_Code" jdbcType="VARCHAR"/>
        <result property="物料名称" column="Material_Name" jdbcType="VARCHAR"/>
        <result property="类型代码" column="Material_Type_Code" jdbcType="VARCHAR"/>
        <result property="类型名称" column="Material_Type_Name" jdbcType="VARCHAR"/>
        <result property="物料规格" column="Material_Spec" jdbcType="VARCHAR"/>
        <result property="生产批次" column="Batch_No" jdbcType="VARCHAR"/>
        <result property="库存数量" column="Qty" jdbcType="NUMERIC"/>
        <result property="盘点数量" column="Check_Qty" jdbcType="NUMERIC"/>
        <result property="差异数量" column="Differend_Qty" jdbcType="NUMERIC"/>
    </resultMap>
    <!-- =========================================================== -->
    <!-- 一些公共变量设置                                                                                                                                                                             -->
    <!-- =========================================================== -->
    <!-- 字段 -->
    <sql id="Base_Column_List" >
        CheckPlan_Code
        ,Material_Code
        ,Material_Name
        ,Material_Type_Code
        ,Material_Type_Name
        ,Material_Spec
        ,Batch_No
        ,Qty
        ,Check_Qty
        ,Differend_Qty
    </sql>
    <!-- =========================================================== -->
    <!-- 基本增删改查方法                                                                                                    		 -->
    <!-- =========================================================== -->
    <insert id="insert" parameterType="com.bean.盘点差异表" >
        insert into IMOS_PD_Check
        <trim prefix="(" suffix=")" suffixOverrides="," >
            CheckPlan_Code,
            Material_Code,
            Material_Name,
            Material_Type_Code,
            Material_Type_Name,
            Material_Spec,
            Batch_No,
            Qty,
            Check_Qty,
            Differend_Qty,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            #{计划编号, jdbcType=VARCHAR},
            #{物料编号, jdbcType=VARCHAR},
            #{物料名称, jdbcType=VARCHAR},
            #{类型代码, jdbcType=VARCHAR},
            #{类型名称, jdbcType=VARCHAR},
            #{物料规格, jdbcType=VARCHAR},
            #{生产批次, jdbcType=VARCHAR},
            #{库存数量, jdbcType=NUMERIC},
            #{盘点数量, jdbcType=NUMERIC},
            #{差异数量, jdbcType=NUMERIC},
        </trim>
    </insert>
    <insert id="insertSelective" parameterType="com.bean.盘点差异表" >
        insert into IMOS_PD_Check
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="计划编号 != null">
                CheckPlan_Code,
            </if>
            <if test="物料编号 != null">
                Material_Code,
            </if>
            <if test="物料名称 != null">
                Material_Name,
            </if>
            <if test="类型代码 != null">
                Material_Type_Code,
            </if>
            <if test="类型名称 != null">
                Material_Type_Name,
            </if>
            <if test="物料规格 != null">
                Material_Spec,
            </if>
            <if test="生产批次 != null">
                Batch_No,
            </if>
            <if test="库存数量 != null">
                Qty,
            </if>
            <if test="库存数量 != null">
                Check_Qty,
            </if>
            <if test="库存数量 != null">
                Differend_Qty,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="计划编号 != null">
                #{计划编号, jdbcType=VARCHAR},
            </if>
            <if test="物料编号 != null">
                #{物料编号, jdbcType=VARCHAR},
            </if>
            <if test="物料名称 != null">
                #{物料名称, jdbcType=VARCHAR},
            </if>
            <if test="类型代码 != null">
                #{类型代码, jdbcType=VARCHAR},
            </if>
            <if test="类型名称 != null">
                #{类型名称, jdbcType=VARCHAR},
            </if>
            <if test="物料规格 != null">
                #{物料规格, jdbcType=VARCHAR},
            </if>
            <if test="生产批次 != null">
                #{生产批次, jdbcType=VARCHAR},
            </if>
            <if test="库存数量 != null">
                #{库存数量, jdbcType=NUMERIC},
            </if>
            <if test="盘点数量 != null">
                #{盘点数量, jdbcType=NUMERIC},
            </if>
            <if test="差异数量 != null">
                #{差异数量, jdbcType=NUMERIC},
            </if>
        </trim>
    </insert>
    <delete id="delete" parameterType="java.lang.String">
        update IMOS_PD_Check
        set deleteFlag = 1, updateTime = GETDATE()
        where CheckPlan_Code = #{计划编号}
    </delete>
    <delete id="deleteAll">
        update IMOS_PD_Check
        set deleteFlag = 1, updateTime = GETDATE()
        where CheckPlan_Code  in
        <foreach collection="idList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <update id="update" parameterType="com.bean.盘点差异表">
        update IMOS_PD_Check
        set
        CheckPlan_Code = #{计划编号, jdbcType=VARCHAR}
        ,Material_Code = #{物料编号, jdbcType=VARCHAR}
        ,Material_Name = #{物料名称, jdbcType=VARCHAR}
        ,Material_Type_Code = #{类型代码, jdbcType=VARCHAR}
        ,Material_Type_Name = #{类型名称, jdbcType=VARCHAR}
        ,Material_Spec = #{物料规格, jdbcType=VARCHAR}
        ,Batch_No = #{生产批次, jdbcType=VARCHAR}
        ,Qty = #{库存数量, jdbcType=NUMERIC}
        ,Check_Qty = #{盘点数量, jdbcType=NUMERIC}
        ,Differend_Qty = #{差异数量, jdbcType=NUMERIC}
        where CheckPlan_Code = #{计划编号}
    </update>
    <update id="updateSelective" parameterType="com.bean.盘点差异表">
        update IMOS_PD_Check
        <set>
            <if test="计划编号!= null">
                CheckPlan_Code = #{计划编号, jdbcType=VARCHAR},
            </if>
            <if test="物料编号!= null">
                Material_Code = #{物料编号, jdbcType=VARCHAR},
            </if>
            <if test="物料名称!= null">
                Material_Name = #{物料名称, jdbcType=VARCHAR},
            </if>
            <if test="类型代码!= null">
                Material_Type_Code = #{类型代码, jdbcType=VARCHAR},
            </if>
            <if test="类型名称!= null">
                Material_Type_Name = #{类型名称, jdbcType=VARCHAR},
            </if>
            <if test="物料规格!= null">
                Material_Spec = #{物料规格, jdbcType=VARCHAR},
            </if>
            <if test="生产批次!= null">
                Batch_No = #{生产批次, jdbcType=VARCHAR},
            </if>
            <if test="库存数量!= null">
                Qty = #{库存数量, jdbcType=NUMERIC},
            </if>
            <if test="盘点数量!= null">
                Check_Qty = #{盘点数量, jdbcType=NUMERIC},
            </if>
            <if test="差异数量!= null">
                Differend_Qty = #{差异数量, jdbcType=NUMERIC},
            </if>
        </set>
        where CheckPlan_Code = #{计划编号}
    </update>
    <select id="selectByPrimaryKey" resultMap="盘点差异表Map" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from IMOS_PD_Check
        where CheckPlan_Code = #{计划编号}
    </select>
    <select id="selectAll" resultMap="盘点差异表Map" >
        select
        <include refid="Base_Column_List" />
        from  IMOS_PD_Check
    </select>
    <select id="selectBySelectiveCount" resultType="java.lang.Long" parameterType="com.bean.盘点差异表">
        select
        count(CheckPlan_Code) c
        from IMOS_PD_Check
        <where>
            <if test="物料名称 != null and 物料名称 != '' ">
                and Material_Code = #{物料编号, jdbcType=VARCHAR}
            </if>
            <if test="物料名称!= null and 物料名称 != '' ">
                and Material_Name = #{物料名称, jdbcType=VARCHAR}
            </if>

            <if test="类型代码 != null and 类型代码 != '' ">
                and Material_Type_Code = #{类型代码, jdbcType=VARCHAR}
            </if>

            <if test="类型名称 != null and 类型名称 != '' ">
                and Material_Type_Name = #{类型名称, jdbcType=VARCHAR}
            </if>

            <if test="物料规格 != null and 物料规格 != '' ">
                and Material_Spec = #{物料规格, jdbcType=VARCHAR}
            </if>

            <if test="生产批次 != null and 生产批次 != '' ">
                and Batch_No = #{生产批次, jdbcType=VARCHAR}
            </if>

            <if test="库存数量!= null and 库存数量 != '' ">
                and Qty = #{库存数量, jdbcType=NUMERIC}
            </if>

            <if test="盘点数量!= null and 盘点数量 != '' ">
                and Check_Qty = #{盘点数量, jdbcType=NUMERIC}
            </if>

            <if test="差异数量!= null and 差异数量 != '' ">
                and Differend_Qty = #{差异数量, jdbcType=NUMERIC}
            </if>

        </where>
    </select>
    <select id="selectBySelective" resultMap="盘点差异表Map" parameterType="com.bean.盘点差异表">
        select
        <include refid="Base_Column_List" />
        from IMOS_PD_Check
        <where>
            <if test="计划编号 != null and 计划编号 != '' ">
                and CheckPlan_Code = #{计划编号, jdbcType=VARCHAR}
            </if>
            <if test="物料编号 != null and 物料编号 != '' ">
                and Material_Code = #{物料编号, jdbcType=VARCHAR}
            </if>
            <if test="物料名称!= null and 物料名称 != '' ">
                and Material_Name = #{物料名称, jdbcType=VARCHAR}
            </if>
            <if test="类型代码 != null and 类型代码 != '' ">
                and Material_Type_Code = #{类型代码, jdbcType=VARCHAR}
            </if>
            <if test="类型名称 != null and 类型名称 != '' ">
                and Material_Type_Name = #{类型名称, jdbcType=VARCHAR}
            </if>
            <if test="物料规格 != null and 物料规格 != '' ">
                and Material_Spec = #{物料规格, jdbcType=VARCHAR}
            </if>
            <if test="生产批次 != null and 生产批次 != '' ">
                and Batch_No = #{生产批次, jdbcType=VARCHAR}
            </if>
            <if test="库存数量!= null and 库存数量 != '' ">
                and Qty = #{库存数量, jdbcType=NUMERIC}
            </if>
            <if test="盘点数量!= null and 盘点数量 != '' ">
                and Check_Qty = #{盘点数量, jdbcType=NUMERIC}
            </if>
            <if test="差异数量!= null and 差异数量 != '' ">
                and Differend_Qty = #{差异数量, jdbcType=NUMERIC}
            </if>
        </where>
    </select>
</mapper>